# Rideshare specific added ignores
password.rb
google.rb

# ignore any assets outside the asset pipeline
public/assets
public/images
public/javascripts
public/stylesheets
!public/carpool/images/check.png
!public/carpool/images/clock-icon.png

*.sass-cache

/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
vendor/ruby
