<%= form_for(@weston) do |f| %>
  <% if @weston.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weston.errors.count, "error") %> prohibited this weston from being saved:</h2>

      <ul>
      <% @weston.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
