<h1>Listing westons</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @westons.each do |weston| %>
  <tr>
    <td><%= link_to 'Show', weston %></td>
    <td><%= link_to 'Edit', edit_weston_path(weston) %></td>
    <td><%= link_to 'Destroy', weston, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weston', new_weston_path %>
