<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"> 
<head> 
<title>Campus Crusade Carpool Coordinator</title> 
</head>
<body>
<h1>Login</h1>
<% form_tag :action => :login, :id => params[:id] do %>
<strong>Conference:</strong> <%=@event.event_name%><br />
<label for="password"><strong>Password:</strong></label><input type="password" name="key" id="password" /><br />
<%=submit_tag "Login"%>
<% end %>
</body>
</html>
-->
You must click on the link from within the CRS to have access to this page.