.top .left .shown {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 200px;
  height: 25px;
  border: 2px solid #445566; }
  .top .left .shown tr td {
    padding: 2px bold;
    border: 1px solid black; }
.top .left .hidden {
  position: absolute;
  top: 45px;
  left: 10px;
  width: 600px;
  display: none;
  font-size: 12pt;
  border: 1px solid black;
  background-color: white; }
  .top .left .hidden img {
    height: 30px;
    width: 30px; }
.top .center .title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 25px; }
.top .right {
  position: absolute;
  top: 5px;
  right: 5px; }

.message .flash {
  width: 600px;
  height: 360px; }

.drivers {
  position: absolute;
  top: 175px;
  bottom: 50px;
  width: 250px;
  border: 1px solid black;
  overflow: auto; }
  .drivers ul {
    padding: 2px; }
  .drivers .header {
    position: relative;
    text-align: center;
    background-color: #ffbbbb;
    border: 1px solid black; }
    .drivers .header h3 {
      vertical-align: middle; }
  .drivers .none {
    position: relative;
    height: 60px;
    width: 250px;
    top: -8px;
    text-align: center;
    background-color: #ffbbbb;
    border: 1px solid black; }
  .drivers #selected_driver {
    position: relative;
    left: 5px;
    border-bottom: 1px solid black;
    background-color: #bbffbb;
    display: none; }
  .drivers #unselected {
    position: relative; }

.riders {
  position: absolute;
  top: 175px;
  bottom: 50px;
  width: 250px;
  border: 1px solid black;
  overflow: auto;
  left: 265px; }
  .riders ul {
    padding: 2px; }
  .riders .header {
    position: relative;
    text-align: center;
    background-color: #ffbbbb;
    border: 1px solid black; }
    .riders .header h3 {
      vertical-align: middle; }
  .riders .none {
    position: relative;
    height: 60px;
    width: 250px;
    top: -8px;
    text-align: center;
    background-color: #ffbbbb;
    border: 1px solid black; }
  .riders #selected_riders {
    position: relative;
    left: 5px;
    border-bottom: 1px solid black;
    background-color: #bbffbb;
    display: none; }
  .riders #unselected {
    position: relative; }

.options {
  bottom: 0px; }
  .options .foundation table {
    position: absolute;
    bottom: 5px;
    height: 40px; }
    .options .foundation table tr .left {
      width: 245px;
      border: 1px solid black;
      background-color: #bbffbb;
      text-align: center; }
      .options .foundation table tr .left td {
        font-size: 1.2em; }
      .options .foundation table tr .left img {
        height: 12px;
        width: 12px;
        vertical-align: middle; }
    .options .foundation table tr .right {
      position: relative;
      left: 3px;
      width: 246px;
      border: 1px solid black;
      background-color: #bbffbb;
      text-align: center; }
      .options .foundation table tr .right td {
        font-size: 1.2em; }
      .options .foundation table tr .right img {
        height: 12px;
        width: 12px;
        vertical-align: middle; }
  .options .showhide {
    position: absolute;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    background-color: white; }
  .options .departure_time {
    position: relative; }
  .options table.room th {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-color: #dddddd; }
    .options table.room th table.room th a {
      text-decoration: none;
      color: black; }
  .options table.room td, .options th {
    text-align: center;
    vertical-align: middle;
    padding: 2px; }
  .options table.normal td table.room td img {
    vertical-align: middle; }

.map {
  position: absolute;
  left: 504px;
  right: 5px;
  top: 1000px;
  bottom: 30px; }

.message {
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  z-index: 10000001;
  overflow: auto;
  display: none; }

.message a.message_exit {
  display: block;
  position: absolute;
  top: 5px;
  right: 8px;
  font-weight: bold;
  color: black;
  text-decoration: none; }

#message_block {
  display: none;
  background-color: #dddddd;
  background: url("../images/black25.png");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000000; }

#size_box {
  position: absolute;
  top: -20000px;
  left: -20000px;
  width: 400px; }

body#report {
  margin: 0.1in; }

div.marker_tabs {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px; }

table.report {
  /*margin: .2in */
  width: 100%;
  page-break-inside: avoid;
  page-break-after: always;
  margin-bottom: 1em; }
  table.report table.report em {
    font-weight: bold; }
  table.report table.report th, table.report table.report td {
    padding: 0.02in; }
  table.report table.report thead th {
    font-weight: bold;
    border: 0.02in solid black;
    background-color: #e5e5e5; }
    table.report table.report thead th table.report thead th h3 {
      width: auto;
      background-color: transparent; }
  table.report table.report tbody td {
    border: 0.01in solid #cccccc; }
    table.report table.report tbody td table.report tbody td.indent {
      padding-left: 0.5in; }
    table.report table.report tbody td table.report tbody td.far_indent {
      padding-left: 1in; }
    table.report table.report tbody td table.report tbody tr.driver td:first-child {
      border-left: 0.02in solid black; }
    table.report table.report tbody td table.report tbody tr.driver td {
      border-top: 0.02in solid black; }
    table.report table.report tbody td table.report tbody tr.driver td:last-child {
      border-right: 0.02in solid black; }
    table.report table.report tbody td table.report tbody tr.rider td:first-child {
      border-left: 0.02in solid black; }
    table.report table.report tbody td table.report tbody tr.rider td:last-child {
      border-right: 0.02in solid black; }
    table.report table.report tbody td table.report tbody tr:last-child td {
      border-bottom: 0.02in solid black; }
    table.report table.report tbody td table.report tbody td.far_indent {
      padding-left: 1in; }
    table.report table.report tbody td table.report tbody tr.driver td:first-child {
      border-left: 0.02in solid black; }
    table.report table.report tbody td table.report tbody tr.driver td {
      border-top: 0.02in solid black; }
    table.report table.report tbody td table.report tbody tr.driver td:last-child {
      border-right: 0.02in solid black; }
    table.report table.report tbody td table.report tbody tr.rider td:first-child {
      border-left: 0.02in solid black; }
    table.report table.report tbody td table.report tbody tr.rider td:last-child {
      border-right: 0.02in solid black; }
    table.report table.report tbody td table.report tbody tr:last-child td {
      border-bottom: 0.02in solid black; }

body {
  margin: 10px; }

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em; }

h2 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0.25em; }

label, div.label {
  display: block;
  font-weight: bold;
  text-align: right; }

#disclaimer {
  font-size: 0.85em;
  margin: 10px 0;
  max-width: 800px; }

#copyright {
  font-size: 0.8em;
  margin-top: 10px; }

#map {
  height: 400px;
  margin: 0 auto;
  text-align: center;
  width: 400px; }

#error {
  background-color: #ffcccc;
  border: 1px solid #770000;
  border-top: none;
  color: #770000;
  text-align: center; }

.error {
  background-color: #ffcccc;
  border: 1px solid #770000;
  color: #770000;
  text-align: center;
  padding: 2px;
  max-width: 450px; }

.done {
  background-color: #ccffcc;
  border: 1px solid #007700;
  color: #003300;
  text-align: center;
  padding: 2px;
  max-width: 450px; }

.example_email {
  border: 3px solid black;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px; }
