
// ========================================================================= 
//  top area
// -------------------------------------------------------------------------

.top 
	.left
		.shown
			position: absolute
			top: 10px
			left: 5px
			width: 400px
			height: 25px
			border: 2px solid #456
			tr td
				padding: 2px bold
				border: 1px solid #000000
		.hidden
			position: absolute
			top: 45px
			left: 10px
			width: 600px
			display: none
			font-size: 12pt
			border: 1px solid #000000
			background-color: #ffffff
			img
				height: 30px
				width: 30px
	.center 
		.title
			margin-left: auto
			margin-right: auto
			text-align: center
			padding-top: 25px
	.right
		position: absolute
		top: 5px
		right: 5px

// table#legend 
// 	position: relative
// 	top: 31px
// 	left: 5px
// 	border: 1px solid #000000
// 	background-color: #ffffff
// 	table#legend td 
// 		padding: 2px
// 		table#legend td img 
// 			height: 25px
// 			width: 25px

.message .flash
	width: 600px
	height: 360px

// .message .hidden .riders {}
// .message .hidden .drivers {}
// .people .drivers { }
// .people .riders { }



// ========================================================================= 
//  left side tables
// -------------------------------------------------------------------------

@mixin tables()
	position: absolute
	top: 175px
	bottom: 40px
	width: 250px
	border: 1px solid #000000
	overflow: auto
	ul
		padding: 2px

@mixin header()
	position: relative
	text-align: center
	vertical-align: sub
	background-color: #ffbbbb
	border: 1px solid #000000
	height: 60px
	top: -15px

@mixin none()
	position: relative
	height: 50px
	text-align: center
	border: 1px solid #000000
	background-color: #ffbbbb

@mixin selected()
	position: relative
	left: 5px
	border-bottom: 2px solid #000000
	background-color: #bbffbb
	display: none

@mixin unselected()
	positive: relative

.drivers 
	@include tables()
	left: 5px
	.header
		@include header()
	.none
		@include none()
		top: -31px
	#selected_driver
		@include selected()
	#unselected
		@include unselected()

.riders 
	@include tables()
	left: 260px
	.header
		@include header()
	.none
		@include none()
		top: -36px
	#selected_riders
		@include selected()
	#unselected
		@include unselected()

	

/* style="position:absolute;z-index:100;left:5px;bottom:37px;border:1px solid #000000;border-bottom:none;width:429px;height:60px;background-color:#ffffff;display:none; */

// ========================================================================= 
//  bottom options table(s)
// -------------------------------------------------------------------------

.options
	height: 40px

	table.room th
		text-align: center
		vertical-align: middle
		font-weight: bold
		background-color: #dddddd
		table.room th a
			text-decoration: none
			color: #000000
	table.room td,th
		text-align: center
		vertical-align: middle
		padding: 2px
	table.normal td
		text-align:left
		table.room td img
			vertical-align: middle
		
	#options td #departure
		border: 1px solid #000000

	.showhide
		position: relative
		left: 6px
		bottom: 5px 
		width: 495px
		height: 30px

		#options_box_availability
			position: relative
			z-index: 100
			left: 500px
			bottom: 37px
			border: 1px solid #000000
			border-bottom: none
			width: 120px
			height: 115px
			background-color: #ffffff
			display:none


// ========================================================================= 
//  google map
// -------------------------------------------------------------------------

.map
	position: absolute
	left: 504px
	right: 5px
	top: 1000px
	bottom: 30px

.message
	background-color: #ffffff
	border: 2px solid #000000
	padding: 10px
	z-index: 10000001
	overflow: auto
	display: none

.message a.message_exit
	display: block
	position: absolute
	top: 5px
	right: 8px
	font-weight: bold
	color: #000000
	text-decoration: none

#message_block
	display: none
	background-color: #dddddd
	background: url('../images/black25.png')
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 1000000

#size_box
	position: absolute
	top: -20000px
	left: -20000px
	width: 400px


// ========================================================================= 
//  email report
// -------------------------------------------------------------------------


body#report
	margin: .1in

div.marker_tabs
	border-bottom: 2px solid #000000
	padding-bottom: 5px
	margin-bottom: 10px

table.report
	/*margin: .2in*/
	width: 100%
	page-break-inside: avoid
	page-break-after: always
	margin-bottom: 1em

	table.report em
		font-weight: bold
	
	table.report th, table.report td 
		padding:  .02in
	
	table.report thead th 
		font-weight: bold
		border: .02in solid #000000
		background-color: #e5e5e5
	
		table.report thead th h3 
			width:  auto
			background-color:  transparent
		
	table.report tbody td 
		border:  .01in solid #cccccc
	
		table.report tbody td.indent 
			padding-left:  .5in
		
		table.report tbody td.far_indent 
			padding-left:  1in
		
		table.report tbody tr.driver td:first-child 
			border-left:  .02in solid #000000
		
		table.report tbody tr.driver td
			border-top:  .02in solid #000000
		
		table.report tbody tr.driver td:last-child 
			border-right: .02in solid #000000
		
		table.report tbody tr.rider td:first-child 
			border-left: .02in solid #000000
		
		table.report tbody tr.rider td:last-child 
			border-right: .02in solid #000000
		
		table.report tbody tr:last-child td 
			border-bottom: .02in solid #000000
		
		table.report tbody td.far_indent 
			padding-left: 1in
		
		table.report tbody tr.driver td:first-child 
			border-left: .02in solid #000000
		
		table.report tbody tr.driver td 
			border-top: .02in solid #000000
		
		table.report tbody tr.driver td:last-child 
			border-right: .02in solid #000000
		
		table.report tbody tr.rider td:first-child 
			border-left: .02in solid #000000
		
		table.report tbody tr.rider td:last-child 
			border-right: .02in solid #000000
		
		table.report tbody tr:last-child td 
			border-bottom: .02in solid #000000

	
body
	margin: 10px
	
table
	margin: 10px 0
	width: 450px

h1 
	font-size:  2em
	font-weight:  bold
	margin-bottom:  .5em

h2 
	font-size:  1.25em
	font-weight: bold
	margin-bottom: .5em
	margin-top: .25em

label, div.label 
	display: block
	font-weight: bold
	text-align: right

td, th 
	padding: 2px

th 
	background-color: #dddddd
	border: 1px solid #000000
	border-bottom: 3px solid #000000
	font-size: 1.2em
	font-weight: bold
	text-align: center

#disclaimer 
	font-size: .85em
	margin: 10px 0
	max-width: 800px

#copyright 
	font-size: .8em
	margin-top: 10px

#map 
	height: 400px
	margin: 0 auto
	text-align: center
	width: 400px

#error
	background-color: #ffcccc
	border: 1px solid #770000
	border-top: none
	color: #770000
	text-align: center

.error 
	background-color: #ffcccc
	border: 1px solid #770000
	color: #770000
	text-align: center
	padding: 2px
	max-width: 450px

.done 
	background-color: #ccffcc
	border: 1px solid #007700
	color: #003300
	text-align: center
	padding: 2px
	max-width: 450px

.example_email 
	border: 3px solid #000000
	margin-left: 25px
	margin-right: 25px
	margin-top: 15px
	margin-bottom: 15px
	padding-left: 25px
	padding-right: 25px
	padding-top: 15px
	padding-bottom: 15px